<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="container home">
    <div class="topo">
        <img class="logo" src="/static/logo.jpeg" alt="Logo da oficina">
        <h1>Sistema de Oficina Mecânica</h1>
        <p>Controle simples de clientes e atendimentos</p>
    </div>

    <div class="menu">
        <a href="/cadastrar"><button class="botao-principal">Cadastrar Cliente</button></a>
        <a href="/listar"><button class="botao-secundario">Ver Agenda</button></a>
    </div>
</div>
