<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="container">
    <h1>Agenda</h1>
    <h2> Hoje: {{ hoje }}</h2>
    <h3> Total do dia: R$ {{ "%.2f"|format(total_dia) }}</h3>
    <h3> Total geral: R$ {{ "%.2f"|format(total_geral) }}</h3>

    {% if clientes %}
    {% for cliente in clientes %}
        <div class="card-cliente">
            
            <strong>📅 {{ cliente.data }} | ⏰ {{ cliente.horario }}</strong><br><br>

            👤 {{ cliente.nome or '' }} <br>
            📞 {{ cliente.telefone }} <br><br>
            🚗 {{ cliente.modelo_carro or 'Modelo não informado' }} <br><br>

            <strong>Problema informado:</strong><br>
            {{ cliente.problema or 'Não informado' }}<br><br>

            💰 R$ {{ cliente.valor }} - {{ cliente.pagamento }}

            <br><br>

            <a href="https://wa.me/{{ (cliente.telefone or '') | replace('(', '') | replace(')', '') | replace(' ', '') | replace('-', '') }}" target="_blank">
                <button>💬 WhatsApp</button>
            </a>

            <br><br>

            <form method="POST" action="/excluir/{{ loop.index0 }}" onsubmit="return confirm('Finalizar atendimento?')">
                <button type="submit">Finalizar Atendimento</button>
            </form>
        </div>
    {% endfor %}
    {% else %}
        <p>Nenhum cliente cadastrado.</p>
    {% endif %}

    <br>
    <a href="/"><button>Voltar</button></a>
</div>
